<section class="#">
    <!-- <div class="bg-image" style="max-width: 22rem;">
                   <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp"
                    class="w-100" />
                   <div class="mask text-light d-flex justify-content-center flex-column text-center"
                   style="background-color: rgba(0, 0, 0, 0.5)">
                     <h4>Custom heading</h4>
                     <p class="m-0">paragraph</p>
                   </div>
                 </div>  -->

    <div class="container pt-5">
        <p class="text h1 col-lg-6 py-3">
            Expand Your Knowledge & Achieve Your Goal
        </p>
        <p class="small col-lg-4 ">
            Lorem ipsum dolor sit amet consectetur.
            Quam neque mattis interdum feugiat ac accumsan ornare sit neque.
            Tempus imperdiet varius vitae a.
        </p>


        <div class="container d-flex flex-wrap" style="width:100%">

            <div class="left-col" style="width:50%">
                <div class="bg-image">
                    <img src="/images/Rectangle 3.png" class="img-fluid" />
                </div>
            </div>

            <div class="right-col d-flex" style="width:50%">
                <div class="p-3">
                    <img src="/images/Rectangle 3 (2).png" class="img-fluid" />
                </div>

                <div class="p-3">
                    <img src="/images/Rectangle 4.png" class="img-fluid" />
                </div>
            </div>
        </div>


        <div class="d-flex flex-wrap" style="width:100%">

            <div class="right-col d-flex" style="width:50%">
                <div class="p-3">
                    <img src="/images/Rectangle 3 (3).png" class="img-fluid" />
                </div>

                <div class="p-3">
                    <img src="/images/Rectangle 4 (2).png" class="img-fluid" />
                </div>
            </div>
            <div class="left-col" style="width:50%">
                <div class="p-3">
                    <img src="/images/Rectangle 3 (4).png" class="img-fluid" />
                </div>
            </div>
        </div>

    </div>
</section>