<section class="frontdesk py-5">
    <div class="pt-5" id="frontdesk" style="background-color: hsl(260, 90%, 96%);">
        <div class="container">
        <div class="d-flex justify-content-between">
            <div class="p-2 60%">
                <h1 class="text-primary">
                    Own your future learning new skills online
                </h1>
                <p>online courses to work on anytime, anywhere, anyday.</p>

                <p class="row p-3">
                    <a href="#start" class="btn btn-primary m-3 col-sm-4">Get Started</a>
                    <a href="#start" class="btn btn-primary btn-outline-danger text-danger m-3 col-sm-4"
                       style="background-color:pink;">Watch Video</a>
                </p>
            </div>

            <div class="pt-5 position-relative" style="width: 70%;">
                <img src="/images/ibFYGM6Dxw-removebg-preview 1.png"
                     class="col-xs-0 col-sm-2 col-md-6 mx-5 position-absolute bottom-0 start-0 img-fluid" style="z-index:2;"
                     alt="Male student" />

                <img src="/images/K3MDnNkELt-removebg-preview 1 (2).png"
                     class="col-xs-0 col-sm-1 col-md-5  mx-5 position-absolute bottom-0 end-0 img-fluid" style="z-index:1;"
                     alt="female student" />

                <img src="/images/kisspng-coffee-polka-dot-coffee-polka-dot-background-5a8985e3ac15c7 1.png"
                     class="col-sm-1 col-md-3 position-absolute bottom-0 end-0" alt="backdrop" />
            </div>
        </div>
        </div>
    </div>

</section>