@*   @model TutorResponse

        <div class="d-flex text-center">
                <div class="p-5">
                    <img src="@Model.ImageUrl" class="img-fluid" />
                    <a href="#" class="text-dark" id="obianuju">
                        <p class="h4">@Model.FullName</p>
                        <p class="small">@Model.Profession</p>
                    </a>
                </div>
        </div>



*@