

<div class="email">
    <div>
         <h2 class="verify">Verify your email</h2>
    </div>
    <div>
         <div>
       <p class="email-text">
    Hi there, use the link below to verify <br />
    your email and start enjoying MoneyWay.
       </p>

   </div>
    <div class="text-center"><button type="submit" class=" px-5 mb-5 w-30" id="btn-submit">Verify email</button></div>

    </div>


</div>

